// Custom.scss

// Aqui se modifica con sass de forma global

$body-bg: #000;
$body-color: #fff;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//Aqui comienza el edit .css

body{
    
}

.nav_bar{
    background-color: #fff;
}